<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientID</key>
	<string>PASTE_YOUR_SANDBOX_CLIENT_ID_HERE</string>
	<key>APIKey</key>
	<string>PASTE_YOUR_SANDBOX_API_KEY_HERE</string>
</dict>
</plist>
